
<div class="youtube-container" style="max-width: {{ include.width | default: '560px' }}; max-height: {{ include.height | default: '315px' }}">
    <div class="youtube-aspect-ratio">
        <iframe
            data-src="https://www.youtube.com/embed/{{ include.id }}{% if include.autoplay == 'true' %}?autoplay=1&mute=1&loop=1&playlist={{ include.id }}{% elsif include.autoplay == 'false' %}?mute=1{% endif %}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen
            title="YouTube video player"></iframe>
    </div>
</div>