---
layout: wrapper
---

{% include project-nav.html %}

<div class="post-view">
    <div class="summary">
        {% if page['main-image'] contains '://' %}
            {% assign image_path = page['main-image'] %}
        {% else %}
            {% assign folder_path = page.path | split: "/" | slice: 0, 2 | join: "/" %}
            {% assign image_path = "/" | append: folder_path | append: page['main-image'] %}
        {% endif %}
        <img data-src="{{ image_path }}" alt="{{ page.title }} image">
        
        <div class="title-header">
            <h1>{{page.title}}</h1>
        </div>
        
        <div class="project-description">
            <h2>Project Overview</h2>
            <p>{{ page.description }}</p>
        </div>
        <div class="skills-card">
            <h2>Skills Used</h2> 
            <div class="skills-list">
                {% for skill in page.skills %}
                <span class="skill">{{ skill }}</span>    
                {% endfor %}
            </div>
        </div>
    </div>
      
    <div class="markdown-body">
        {{content}}
        <hr>
        <p><em>This description is written with help of AI tools, but the project IS NOT. You can verify the source codes via the provided links where available.</em></p>
    </div>
</div>

{% include project-nav.html %}
